src/main/resources/xsd/jcomMessage_old.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


    <xs:simpleType name="JComMessageType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AwaitMove"/>
            <xs:enumeration value="Move"/>
            <xs:enumeration value="MoveInfo"/>
            <xs:enumeration value="FinishTurn"/>
            <xs:enumeration value="TurnInfo"/>
            <xs:enumeration value="Login"/>
            <xs:enumeration value="LoginReply"/>
            <xs:enumeration value="AwaitSquad"/>
            <xs:enumeration value="SubmitSquad"/>
            <xs:enumeration value="SquadData"/>
            <xs:enumeration value="Accept"/>
            <xs:enumeration value="Win"/>
            <xs:enumeration value="Disconnect"/>
            <!-- Spectatores only -->
            <xs:enumeration value="SpectatorInfo"/>
            <xs:enumeration value="GameStatus"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ClientRole" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLAYER"/>
            <xs:enumeration value="SPECTATOR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ErrorType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NO_ERROR"/>
            <xs:enumeration value="ERROR"/>
            <xs:enumeration value="AWAIT_LOGIN"/>
            <xs:enumeration value="AWAIT_MOVE"/>
            <xs:enumeration value="AWAIT_FINISH_TURN"/>
            <xs:enumeration value="ILLEGAL_MOVE"/>
            <xs:enumeration value="TIMEOUT"/>
            <xs:enumeration value="TOO_MANY_TRIES"/>
            <xs:enumeration value="UNSUPPORTED_OPERATION"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="JComMessage">
        <xs:complexType>
            <xs:choice>
                <xs:element name="AwaitMove" type="AwaitMoveMessage"/>
                <xs:element name="Move" type="MoveMessage"/>
                <xs:element name="MoveInfo" type="MoveInfoMessage"/>
                <xs:element name="FinishTurn" type="FinishTurnMessage"/>
                <xs:element name="Login" type="LoginMessage"/>
                <xs:element name="LoginReply" type="LoginReplyMessage"/>
                <xs:element name="AwaitSquad" type="AwaitSquadMessage"/>
                <xs:element name="SubmitSquad" type="SubmitSquadMessage"/>
                <xs:element name="SquadData" type="SquadDataMessage"/>
                <xs:element name="Accept" type="AcceptMessage"/>
                <xs:element name="Win" type="WinMessage"/>
                <xs:element name="Disconnect" type="DisconnectMessage"/>
                <xs:element name="GameStatus" type="GameStatusMessage"/>
                <xs:element name="SpectatorInfo" type="SpectatorInfoMessage"/>
            </xs:choice>
            <xs:attribute name="messageType" type="JComMessageType" use="required"/>
            <xs:attribute name="id" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="SquadDataMessage">
        <xs:sequence>
            <xs:element name="yolo" type="Squad"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AwaitMoveMessage">
        <xs:sequence>
            <xs:element name="map" type="MapData"/>
            <xs:element name="squadRed" type="Squad"/>
            <xs:element name="squadBlue" type="Squad"/>
            <xs:element name="score" type="PointData"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="MoveType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WEAPON"/>
            <xs:enumeration value="TOOL"/>
            <xs:enumeration value="MOVE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MoveMessage">
        <xs:choice>
            <xs:element name="weaponMove" type="WeaponMove"/>
            <xs:element name="toolMove" type="ToolMove"/>
            <xs:element name="moveMove" type="MoveMove"/>
        </xs:choice>
        <xs:attribute name="moveType" type="MoveType"/>
        <xs:attribute name="unitID" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="WeaponMove">
        <xs:sequence>
            <xs:element name="weapon" type="WeaponData"/>
            <xs:element name="targetID" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ToolMove">
        <xs:sequence>
            <xs:element name="tool" type="ToolData"/>
            <xs:element name="targetPos" type="PositionData"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MoveMove">
        <xs:sequence>
            <xs:element name="newPos" type="PositionData"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MoveInfoMessage">
        <xs:sequence>
            <xs:element name="map" type="MapData"/>
            <xs:element name="squadRed" type="Squad"/>
            <xs:element name="squadBlue" type="Squad"/>
            <xs:element name="moveMessage" type="MoveMessage"/>
        </xs:sequence>
        <xs:attribute name="seenMove" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="FinishTurnMessage">
        <xs:sequence>
            <xs:element name="content" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LoginMessage">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="role" type="ClientRole" default="PLAYER" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LoginReplyMessage">
        <xs:sequence>
            <xs:element name="newID" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="maxPoints" type="xs:int" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AcceptMessage">
        <xs:sequence>
            <xs:element name="accept" type="xs:boolean"/>
            <xs:element name="errorTypeCode" type="ErrorType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DisconnectMessage">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="errorTypeCode" type="ErrorType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MapData">
        <xs:sequence>
            <!-- check for Correctness -->
            <xs:element name="mapString" type="xs:string"/>
            <xs:element name="positionsBlue" type="xs:string"/>
            <xs:element name="positionsRed" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PointData">
        <xs:sequence>
            <xs:element name="PointCondition">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Unoccupied"/>
                        <xs:enumeration value="RedOccupied"/>
                        <xs:enumeration value="BlueOccupied"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PointsBlue" type="PositionData" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PointsRed" type="PositionData" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GameStatusMessage">
        <xs:sequence>
            <xs:element name="map" type="MapData"/>
            <xs:element name="squadRed" type="Squad"/>
            <xs:element name="squadBlue" type="Squad"/>
            <xs:element name="playerID" type="xs:int"/>
            <xs:element name="moveMessage" type="MoveMessage"/>
            <xs:element name="score" type="PointData"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SpectatorInfoMessage">
        <xs:sequence>
            <!-- DelayZeiten etc -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WinMessage">
        <xs:sequence>
            <xs:element name="map" type="MapData"/>
            <!-- <xs:element name="statistics" type="StatisticData" minOccurs="2" maxOccurs="2"/> -->
            <xs:element name="winner">

            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Winner">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PositionData">
        <xs:attribute name="posX" type="xs:int"/>
        <xs:attribute name="posY" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="UnitData">
        <xs:complexContent>
            <xs:extension base="BasicUnitData">
                <xs:sequence>
                    <xs:element name="movementPoints" type="xs:int"/>
                    <xs:element name="visionDistance" type="xs:int"/>
                    <!-- <xs:element name="baseCriticalChance" type="xs:int"/> -->
                    <xs:element name="armor" type="xs:int"/>
                    <xs:element name="Pos" type="PositionData"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BasicUnitData">
        <xs:sequence>
            <xs:element name="ID" type="xs:int"/>
            <xs:element name="HP" type="xs:int"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="PrimaryWeapon" type="WeaponData"/>
            <xs:element name="SecondaryWeapon" type="WeaponData"/>
            <xs:element name="PrimaryTool" type="ToolData"/>
            <xs:element name="SecondaryTool" type="ToolData"/>
            <!-- Traits for v2.0 -->
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="WeaponData">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASSAULT_RIFLE"/>
            <xs:enumeration value="SNIPER"/>
            <xs:enumeration value="PISTOL"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="ToolData">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MED_KIT"/>
            <!-- <xs:enumeration value="SMOKE_GRENADE"/> -->
            <xs:enumeration value="HE_GRENADE"/>
            <xs:enumeration value="BASIC_ARMOR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MoveData">
        <xs:sequence>

        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Color">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RED"/>
            <xs:enumeration value="BLUE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Squad">
        <xs:sequence>
            <xs:element name="Squad" type="UnitData" minOccurs="1" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AwaitSquadMessage">
        <xs:sequence>
            <xs:element name="Map" type="MapData"/>
            <xs:element name="yourColor" type="Color"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SubmitSquadMessage">
        <xs:sequence>
            <xs:element name="Squad" type="BasicUnitData" minOccurs="1" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>